<div class="container">
  <!-- HOME PAGE JUMBOTRON-->
  <div class="jumbotron" id="jumbo-future">
    <h1 class="display-3 text-center jumbo-info">Active Events</h1>
  </div>
  <div class="row border-round mb-3">
    <div class="col-12 pt-1" >
      <div class="jumbotron jumbo-hurricane">
        <h1 class="display-4 text-center jumbo-info p-1">Hurricane Sue</h1>
      </div>
      <div class="jumbotron jumbo-earthquake">
        <h1 class="display-4 text-center jumbo-info p-1">Oregon Earthquake 8/7/2018</h1>
      </div>
    </div>
  </div>
</div>
