
<!-- NEW USER SIGNUP-->
<div class="container">
  <!-- HOME PAGE JUMBOTRON-->
  <div class="jumbotron index-jumbo">
    <div class="row">
      <div class="col-lg-6 jumbo-info">
        <h1 class="display-3">ReElevate <i class="fas fa-chevron-circle-up"></i></h1>
        <p class="lead">Organizing relief to help those who need it the most.</p>
        <a class="btn btn-info btn-lg" ui-sref="mission" role="button">Learn about our mission statement</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <img class="rounded-circle" src="../images/volunteer.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Volunteers</h2>
      <p>Individuals with resources or skills they want to contribute.</p>
      <p><a class="btn btn-secondary" ui-sref="volSignUp" role="button">Sign up »</a></p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <img class="rounded-circle" src="../images/organization.jpeg" alt="Generic placeholder image" width="140" height="140">
      <h2>Organizations</h2>
      <p>Larger organizaton with existing pool of volunteers or resources.</p>
      <p><a class="btn btn-secondary" ui-sref="orgSignUp" role="button">Sign up »</a></p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <img class="rounded-circle" src="../images/affected.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Affected parties</h2>
      <p>For those who are affected by a disaster register here.</p>
      <p><a class="btn btn-secondary" href="../pages/affected.html" role="button">Sign up »</a></p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <img class="rounded-circle" src="../images/business.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Business</h2>
      <p>Businesses that want to sign up to help with resources.</p>
      <p><a class="btn btn-secondary" href="../pages/affected.html" role="button">Sign up »</a></p>
    </div>
  </div>
</div>

<!-- STICKY FOOTER-->
<!-- <div class="footer">
    <div class="container">
        <div class="text-muted text-center">UTD2018 Hack for humanity team 2</div>
    </div>
</div> -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="./assets/javascript/script.js"></script>
