<!-- HOME PAGE JUMBOTRON-->
<div class="jumbotron" id="jumbo-mission">
  <h1 class="display-1 text-center jumbo-info">Mission Statement</h1>
</div>
<div class="row">
  <div class="col-12" >
    <p class="lead"> People inherently want to help other people in need. But organization of volunteers and resources to get help to affected individuals
      can be extremely challenging. Most efforts to date to organize dissimilar groups of people have been of a closed source variety or
      otherwise partioned off. ReElevate is designed as a non-profit open source framework to organize volunteers, affected individuals, businesses,
      and organizations before, during, and after a disaster in order to connect the right resources and skill for the right needs.
    </p>
  </div>
</div>
