
<!-- NAVBAR -->
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
  <!--<a class="navbar-brand" href="./index.html">Disaster Planner</a>-->
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--<span class="navbar-toggler-icon"></span>-->
  <!--</button>-->
  <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
    <!--<ul class="navbar-nav mr-auto">-->
      <!--<li class="nav-item active">-->
        <!--<a class="nav-link" href="./index.html">Home</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Wiki</a>-->
      <!--</li>-->
      <!--<li class="nav-item dropdown">-->
        <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
          <!--Dropdown-->
        <!--</a>-->
        <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
          <!--<a class="dropdown-item" href="#">Action</a>-->
          <!--<a class="dropdown-item" href="#">Another action</a>-->
          <!--<div class="dropdown-divider"></div>-->
          <!--<a class="dropdown-item" href="#">Something else here</a>-->
        <!--</div>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link disabled" href="#">Disabled</a>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<form class="form-inline my-2 my-lg-0">-->
      <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    <!--</form>-->
  <!--</div>-->
<!--</nav>-->
<!-- Volunteer form -->
<div class="container mb-4">
  <div class="py-5 text-center">
    <h2>Organization Signup Form</h2>
    <p class="lead">Welcome organization owner. Please signup below!</p>
  </div>
  <div class="row">
    <div class="col-12">
      <form class="needs-validation" novalidate="" ng-submit="signUp()">
        <div class="row">
          <div class="col-12">
            <label for="organization">Organization</label>
            <input id="organization" class="form-control" ng-model="org.name" placeholder="org name" value="" required="" type="text">
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label for="city">City</label>
            <input id="city" class="form-control" placeholder="city" ng-model="org.city" value="" required="" type="text">
          </div>
          <div class="col-2">
            <label for="state">State</label>
            <input id="state" class="form-control" placeholder="state" ng-model="org.state" value="" required="" type="text">
          </div>
          <div class="col-6">
            <label for="country">Country</label>
            <input id="country" class="form-control" placeholder="country" ng-model="org.country" value="" required="" type="text">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="org-scope">Area Scope of Organization</label>
            <input id="org-scope" class="form-control" placeholder="org-scope" ng-model="org.scope" value="" required="" type="text">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="lead">Disaster type expertise</div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" ng-model="type.wildfire" value="" id="wildfire">
              <label class="form-check-label" for="wildfire">Wildfire</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" ng-model="type.tornado" type="checkbox" value="" id="tornado">
              <label class="form-check-label" for="tornado">Tornado</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" ng-model="type.earthquake" type="checkbox" value="" id="earthquake">
              <label class="form-check-label" for="earthquake">Earthquake</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" ng-model="type.hurricane" type="checkbox" value="" id="hurricane">
              <label class="form-check-label" for="hurricane">Hurricane</label>
            </div>
          </div>
          <div class="col-6">
            <div class="lead">Relief Resource Type</div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" ng-model="org.Volunteers" value="" id="relief-volunteer">
              <label class="form-check-label" for="relief-volunteer">Volunteers</label>
            </div>
            <div class="form-check">
              <!--<input class="form-check-input" type="checkbox" ng-model="org.Resources" value="" id="relief-resources">-->
              <label class="form-check-label" id="relief-resources" for="relief-resources">Resources</label>
              <div class="form-check">
                <div class="col-12">
                  <input class="form-check-input" type="checkbox" ng-model="resourse.Boat" value="" id="relief-resources-boat">
                  <label class="form-check-label" for="relief-resources-boat">Boat</label>
                </div>
                <div class="col-12">
                  <input class="form-check-input" type="checkbox" ng-model="resourse.Food" value="" id="relief-resources-food">
                  <label class="form-check-label" for="relief-resources">Food</label>
                </div>
                <div class="col-12">
                  <input class="form-check-input" type="checkbox" ng-model="resourse.Medical" value="" id="relief-resources-medical">
                  <label class="form-check-label" for="relief-resources-medical">Medical</label>
                </div>
                <div class="col-12">
                  <input class="form-check-input" type="checkbox" ng-model="resourse.Clothing" value="" id="relief-resources-clothing">
                  <label class="form-check-label" for="relief-resources-clothing">Clothing</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="lead">Primary Org Contact Information</div>
        <div class="row">
          <div class="col-6">
            <div class="form-check">
              <label for="org-contact-email">Contact email</label>
              <input id="org-contact-email" class="form-control" ng-model="org.email" placeholder="org contact email" value="" required="" type="email">
            </div>
          </div>
          <div class="col-6">
            <div class="form-check">
              <label for="org-contact-phone">Contact phone</label>
              <input id="org-contact-phone" class="form-control" ng-model="org.phoneNumber" placeholder="org contact phone" value="" required="" type="email">
            </div>
          </div>
        </div>
        <div class="lead">Social media accounts</div>
        <div><img style="width: 158px;" id="facebook" class="mb-2" src="../images/facebook.png" alt="facebook placeholder"></div>
        <div><img src="../images/twitter.png" alt="twitter placeholder"></div>
        <div class="pull-right text-right">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- STICKY FOOTER-->
<!-- <div class="footer">
    <div class="container">
        <div class="text-muted text-center">UTD2018 Hack for humanity team 2</div>
    </div>
</div> -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../javascript/script.js"></script>
